main {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
  margin-bottom: 5%;
  background-color: white;
  box-shadow: black 5px 5px 5px;
  padding: 3%;
}
.navbar-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.items-wrapper {
  display: flex;
  gap: 3px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: fit-content;
}
nav {
  width: 100vw;
  box-shadow: black 0px 3px 3px;
  height: 8%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    63deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.flag-container {
  display: flex;
  column-gap: 10px;

  background: rgba(4, 4, 4, 0.1);
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.flag-wrapper {
  width: 100%;
  height: fit;
  display: flex;
  column-gap: 50px;
}
.flag {
  width: 64px;
}
.flex {
  display: flex;
  column-gap: 50%;
}
.red-bg {
  background-color: red;
}
.grid{
    display: grid;
    height: fit;
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}

