#app {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: white;
  box-shadow: black 5px 5px 5px;
  padding: 3%;
}
body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.flag-container {
  display: flex;
  column-gap: 10px;

  background: rgba(4, 4, 4, 0.1);
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.flag-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 50px;
}
.flag {
  width: 64px;
}
.flex {
  display: flex;
  column-gap: 50%;
}
.red-bg {
  background-color: red;
}
